<ul class="nav nav-tabs nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink="#">Accueil</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="affichage-bibliotheque">Liste des bibliothèques</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="gestion-bibliotheque">Gestion des bibliothèques</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="affichage-livre">Tous les livres disponible</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="Login"><i class="fas fa-id-card"></i>Authentification</a>
    </li>
  </ul>

<router-outlet> </router-outlet> <!-- connection à mon fichier routing-->